<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Medical CheckUp</title>
</head>
<body>
    <%- include('layouts/navbarafterLogin.ejs') %>
 <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Appointment Date</th>
                <th scope="col">Status</th>
                <th scope="col">Note</th>
                <th scope="col">Fee</th>
            </tr>
        </thead>
        <tbody>
            <% patients.forEach(patient => { %>
                <% patient.DoctorPatients.forEach(doctorPatient => { %>
                    <tr>
                        <td><%= patient.name %></td>
                        <td><%= doctorPatient.Doctor.name %></td>
                        <td><%= doctorPatient.appointmentDate %></td>
                        <td><%= doctorPatient.status %></td>
                        <td><%= doctorPatient.note %></td>
                        <td><%= doctorPatient.fee %></td>
                    </tr>
                <% }); %>
            <% }); %>
        </tbody>
    </table>
    <%- include('layouts/bootstrap') %>
</body>
</html>
