<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Doctor</title>
</head>
<body>
    <%- include('layouts/navbarafterLogin') %>
 <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Appointment Date</th>
                <th scope="col">Status</th>
                <th scope="col">Note</th>
                <th scope="col">Fee</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(element => { %>
                <tr>
                    <td><%= element.appointmentDate %></td>
                    <td>
                        <% if (!element.status) { %>
                            <button onclick="updateStatus('<%= element.id %>')">OK</button>
                        <% } else { %>
                            <%= element.status %>
                        <% } %>
                    </td>
                    <td>
                        <% if (!element.status) { %>
                            <input type="text" id="note_<%= element.id %>" placeholder="Enter note">
                            <button onclick="addNote('<%= element.id %>')">Add Note</button>
                        <% } else { %>
                            <%= element.note %>
                        <% } %>
                    </td>
                    <td><%= element.fee %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <%- include('layouts/bootstrap') %>
</body>
</html>